/* GENERAL CSS */
*{
    --text-color: #f1f1ea;
    --title-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}


body, html{
    padding: 0;
    margin: 0;
}

body{
    background-color: #0f0f0f;
    color: var(--text-color)
}

#navbar-outside{
    background-color:#3f3f3f;
    width: 100vw;
}

#navbar{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#navbar button{
    color: var(--text-color);
    background-color: transparent;
    border: 0;
    font-size: 20px;
    padding: 0;
    overflow:hidden;
    padding: 15px;

}

#navbar button:hover{
    cursor: pointer;
}

.tabs{
    min-width: 320px;
    width: 90vw;
    max-width: 800px;
    display: none;
    margin:0 auto;
    text-align: center;
}

#about-me{
    display: block;
}

/* ABOUT ME CSS */

#info{
    margin-top: 20px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-around;
    font-size: 65%;
}

#links{
    margin-top: 20px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

#info img{
    margin: auto 0;
    display: block;
    width: 111px;
    margin-left: 15px;
    margin-right: 15px;
    height: 148px;
    flex-shrink: 0;
}

#info h1,h2,h3{
    font-family: var(--title-font);
    text-wrap: wrap;
}

#info h1:hover,h2:hover,h3:hover{
    color: rgb(210, 203, 203);
}

#links img{
    width: 60px;
}

#links img:hover{
    cursor: pointer;
}

/* DISCORD ID COPY  */

#discord-popup-out{
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#discord-popup{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 20vw;
    min-width: 250px;
    min-height: 250px;
    height: 25vh;
    background-color: wheat;
    text-align: center;
    color: #0f0f0f;
    font-family: var(--title-font);
    border-radius: 15px;
    box-shadow: 0px 0px 20px yellow, 0px 0px 20px red;
}

#discord-popup img{
    margin-top: 20px;
    width: 60px;

}

/* PROJECTS CSS */

#projects h1{
    font-family: var(--title-font);
}

#projects ul{
    font-family: Georgia, serif;
    display: flex;
    list-style-type: none;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 20px;  
    padding: 0;
}

#projects li{
    padding: 0;
    border-radius: 50px;
    background-color: #f5deb3;
    flex-grow: 1;
}

#projects a{
    padding: 8px 16px;
    border-radius: 50px;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #f5deb3;
}

#web-sites{
    border: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#projects a:hover{
    background-color: rgb(231, 193, 122);
}

/* HOVER POPUP CSS */

.web-link-popup{
    margin: 0;
    padding: 0;
    outline: 30px solid rgb(196, 75, 75);
    border-radius: 10%;
    display: none;
    overflow: hidden;
    width: 1366px;
    height: 768px;
    z-index: 100;
    position: absolute;
    transform: scale(0.15) translateY(-400%) translateX(-380%);
}

/* ADMİN PANEL CSS */

/* ADD WEBSİTE */

#admin-add-web{
    margin: auto;
    margin-top: 20px;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#admin-add-web h1{
    text-wrap: wrap;
    margin-top: 5px;
    font-family: var(--title-font);
}

#admin-add-web input:not(:last-child){
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

#admin-add-web label{
    padding: 0;
    user-select: none;
    font-size: 20px;
    font-family: var(--title-font);
    text-wrap: balance;
}

#admin-add-web label:hover{
    cursor: pointer;
}

#is-my-project{
    margin: 7.27px 0 0 0 ;
    width: 50%;
    text-align: center;
}

#is-my-project:hover{
    cursor: pointer;
    background-color: #3f3f3f;
}

#admin-add-web button{
    background-color: #f1f1ea;
    border: 0;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}

#admin-add-web button:hover{
    background-color: #d1cfcc;
    cursor: pointer;
}

#labels{
    display: flex;
    margin-bottom: 20px;
}

/* STATS */

#stats{
    margin-top: 30px;
    background-color: #3f3f3f;
}

#stats h1{
    padding-top: 10px;
    font-family: var(--title-font);
    margin-top: 5px;
}

#stats p{
    font-size: 20px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
    margin-block: 0;
    margin: 10px;
}

/*  MEDIA QUERIES */

@media (max-width: 550px){
    #navbar button:not(:last-child){
        border-bottom: dotted 0.1px white;
    }
    #projects a{
        font-size: 15px;
    }
}
@media (min-width: 550.01px) and (max-width:700px){
    #navbar button:not(:last-child){
        border-bottom: dotted 0.1px white;
    }
    #navbar button{
        font-size: 27px;
    }
    #info img{
        width: 120px;
        height: 160px;
    }
    #info{
        font-size: 75%;
    }
    #links img{
        width: 70px;
    }
    #projects a{
        font-size: 18px;
    }
    #stats p{
        font-size: 25px;
    }
    #admin-add-web label{
        font-size: 22px;
    }
    #labels{
        display: inline-flex;
        width: 40%;
        margin-right: auto;
        margin-left: 5%;
    }
    #button{
        display: inline;
        width: 40%;
        margin-left: auto;
        margin-right: 10%;
        margin-top: -63px;
    }
}
@media (min-width: 700px) and (max-width:1100px){
    #navbar{
        flex-direction: row;
        justify-content: space-around;
    }
    #navbar button{
        padding: 20px 0px 20px 0px;
        font-size: 25px;
    }
    #info img{
        width: 150px;
        height: 200px;
    }
    #info{
        font-size: 90%;
    }
    #links img{
        width: 100px;
    }
    #projects a{
        font-size: 22px;
    }
    #stats p{
        font-size: 35px;
    }
    #admin-add-web > #username{
        width: 35%;
        flex-grow: 0;
        margin-right: auto;
        margin-left: 10%;
    }
    #admin-add-web > #password{
        width: 35%;
        margin-top: -63px;
        flex-grow: 0;
        margin-right: 10%;
        margin-left: auto;
    }
    #admin-add-web #labels{
        display: inline-flex;
        width: 35%;
        margin-right: auto;
        margin-left: 10%;
    }
    #admin-add-web #button{
        display: inline;
        width: 35%;
        margin-left: auto;
        margin-right: 10%;
        margin-top: -65px;
    }
}
@media (min-width: 1100.01px){
    #navbar button{
        padding: 20px 0px 20px 0px;
        font-size: 30px;
    }
    #info img{
        width: 150px;
        height: 200px;
    }
    #stats p{
        font-size: 35px;
    }
    #admin-add-web > #username{
        width: 35%;
        flex-grow: 0;
        margin-right: auto;
        margin-left: 10%;
    }
    #admin-add-web > #password{
        width: 35%;
        margin-top: -63px;
        flex-grow: 0;
        margin-right: 10%;
        margin-left: auto;
    }
    #admin-add-web #labels{
        width: 35%;
        margin-right: auto;
        margin-left: 10%;
    }
    #admin-add-web #button{
        display: inline;
        width: 172.27px;
        margin-left: auto;
        margin-right: 10%;
        margin-top: -65px;
    }
    #navbar{
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-around;
    }
    html > body > .tabs{
        max-width: 1000px;
    }
    html > body > #about-me{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:30px;
        max-width: 1000px;
    }
    #info{
       flex-grow: 0;
       width: 800px;
       font-size: 90%;
    }
    #links{
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #links::before{
        content: "LINKLER";
        grid-column: 1/3;
        font-size: 30px;
        font-family: var(--title-font);
        font-weight: bold;
        align-self: center;
    }
    #links > *{
        margin: auto;
    }
    #links img{
        width: 40px;
        height: 40px;
    }
    /* GRID */
    #projects ul{
        gap:25px;
    }
    #projects a{
        padding:10px 20px;
        font-size: 30px;
    }
    #admin-panel{
        display: flex;
        flex-wrap: wrap;
    }
    #stats{
        width: 40%;
        margin-inline: auto;
        margin-top: 20px;
    }
    #admin-add-web{
        margin-inline: auto;
        margin-top: 20px;
        height: auto;
        width: 50%;
        height:fit-content;
    }
}
