/* GENERAL CSS */
*{
    --text-color: #f1f1ea;
    --title-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body, html{
    padding: 0;
    margin: 0;
}

body{
    background-color: #0f0f0f;
    color: var(--text-color)
}

#navbar-outside{
    background-color:#3f3f3f;
    height: 60px;
    width: 100vw;
}

#navbar{
    margin: 0 auto;
    height: 60px;
    width: 90vw;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

#navbar button{
    color: var(--text-color);
    background-color: transparent;
    border: 0;
    font-size: 24px;
    padding: 0;
}

#navbar button:hover{
    cursor: pointer;
}

.tabs{
    min-width: 320px;
    width: 90vw;
    max-width: 800px;
    display: none;
    margin:0 auto;
    text-align: center;
}

#about-me{
    display: block;
}

/* ABOUT ME CSS */

#info{
    margin-top: 20px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-around;
    font-size: 80%;
}

#links{
    margin-top: 20px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-around;
}

#info img{
    margin: auto 0;
    display: block;
    width: 120px;
    height: 160px;
    flex-grow: 0;
}

#info h1,h2,h3{
    font-family: var(--title-font);
}

#links img{
    width: 100px;
}

#links img:hover{
    cursor: pointer;
}

/* DISCORD ID COPY  */

#discord-popup-out{
    display: none;
    z-index: 1000;
    position: fixed;
    width: 99vw;
    height: 99vh;
    background-color: transparent;
}

#discord-popup{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 25vh;
    background-color: wheat;
    text-align: center;
    color: #0f0f0f;
    font-family: var(--title-font);
    border-radius: 15px;
}

#discord-popup img{
    margin-top: 20px;
    width: 60px;

}

/* PROJECTS CSS */

#projects h1{
    font-family: var(--title-font);
}

#projects ul{
    font-family: Georgia, serif;
    display: flex;
    list-style-type: none;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 20px;  
    padding: 0;
}

#projects li{
    padding: 0;
    border-radius: 50px;
    background-color: #f5deb3;
    flex-grow: 1;
}

#projects a{
    padding: 8px 16px;
    border-radius: 50px;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #f5deb3;
}

#web-sites{
    border: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#projects a:hover{
    background-color: rgb(231, 193, 122);
}

/* ADMİN PANEL CSS */

/* ADD WEBSİTE */

#admin-add-web h1{
    margin-top: 5px;
    font-family: var(--title-font);
}

#admin-add-web{
    margin-top: 20px;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0;
    flex-wrap: wrap;
}

#admin-add-web input{
    border: 0;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#admin-add-web label{
    font-size: 30px;
    font-family: var(--title-font);
}

#is-my-project{
    width: 30px;
    height: 20px;
}
#admin-add-web button{
    background-color: #f1f1ea;
    border: 0;
    margin-bottom: 15px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}

#admin-add-web button:hover{
    background-color: #d1cfcc;
    cursor: pointer;
}

/* STATS */

#stats{
    margin-top: 30px;
    background-color: #3f3f3f;
}

#stats h1{
    padding-top: 10px;
    font-family: var(--title-font);
    margin-top: 5px;
}

#stats p{
    font-size: 40px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
}